.textItem{
    display: flex;
    align-content: center;
    background-color: darkcyan;
    list-style-type: none;
}

.text{
    margin-left:50px;
    margin-right: 20px;
    height:40px;
    top:40px;
}

.status{
    color:red;
}